{% extends 'parent/main.html' %}
{% block body %}
	<h2>{{ book.title }}</h2>
	{% for gen in book.genre.all %}
		<span class="badge badge-warning">{{ gen }}</span>
	{% endfor %}
	{% if book.tags.all %}
		<div>
			<span class="badge badge-light">Tags:</span>
			{% for tag in book.tags.all %}
				<a href="{% url "shop:book_list_by_tag" tag.slug %}">
					<span class="badge badge-info">{{ tag.name }}</span>
				</a>
			{% endfor %}
		</div>
	{% endif %}
	{% if book.img %}
		<img class="item-img rounded img-fluid" src="{{ MEDIA_URL }}/media/{{ book.img }}">
	{% else %}
		<img class="item-img rounded img-fluid" src="{{ MEDIA_URL }}/media/pics/no_img.png" height="10%" width="10%">
	{% endif %}
	<p>{{ book.description }}</p>
	{% if book.stock_available == 0 %}
		<div class="alert alert-danger">
			<strong>Book Not Available!</strong> For More Information Contact Us.
		</div>
	{% endif %}
	<p>
		<a href="{% url "shop:book_share" author.slug book.slug %}">
			Share this post
		</a>
	</p>
	<div class="row">
		<h2 class="justify-content-center">Similar posts</h2>
		{% for book in similar_books %}
			<div class="col-sm-3">
				<p>
					<a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
				</p>
				{% if book.img %}
					<img src="{{ MEDIA_URL }}/media/{{ book.img }}" class="img-thumbnail" alt="{{ book.title }}" />
				{% else %}
					<img src="{{ MEDIA_URL }}/media/pics/no_img.png" class="img-thumbnail" alt="{{ book.title }}"  height="20%" width="20%"/>
				{% endif %}
			</div>
		{% empty %}
			There are no similar posts yet.
		{% endfor %}
	</div>
	{% include 'partials/comment.html' %}
{% endblock %}